<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="cordova-bluetoothadapter"
    version="1.0.0">
    <name>Cordova Plugin bluetoothadapter</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/fredyteheranto/cordova-bluetoothadapter.git</repo>
    

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>

        <!-- Este es el nombre por el cual se accedera el plugin -->
        <clobbers target="Bluetoothadapter" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="Bluetoothadapter">
          <param name="android-package" value="com.fredyteheranto.Bluetoothadapter" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <source-file src="src/android/com/fredyteheranto/Bluetoothadapter.java" target-dir="src/com/fredyteheranto/" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="Bluetoothadapter" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="Bluetoothadapter">
                <param name="ios-package" value="Bluetoothadapter" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/Bluetoothadapter.h" />
        <source-file src="src/ios/Bluetoothadapter.m" />
    </platform>
</plugin>
